# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
env/
venv/
.Python

# ---- Node.js ----
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# ---- Logs ----
*.log
logs/
tmp/

# ---- OS / Editor files ----
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# ---- Docker ----
*.pid
*.tar
*.bak

# ---- Kubernetes / Minikube ----
*.pf-vote.pid
*.pf-result.pid
*.kube/
.minikube/

# ---- Misc ----
.env
*.secret
